@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@font-face {
    font-family: 'NexaBold';
    src: url('../fonts/NexaBold/NexaBold.eot');
    src: url('../fonts/NexaBold/NexaBold.woff') format('woff'),
       url('../fonts/NexaBold/NexaBold.ttf') format('truetype'),
       url('../fonts/NexaBold/NexaBold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

