@media screen and (max-width: 1270px){
    .block .socials {
        position: relative;
        margin: 10px 0 0 66px;
    }
}
@media screen and (max-width: 1150px){
    .bottom_inner {
        max-width: 90%;
    }
    .header ul{
        -webkit-padding-start: 0px;
    }
    footer form input[type="email"] {
        width: 100%;
    }
    footer form input[type="submit"] {
        width: 100%;
    }
}
@media screen and (max-width: 1070px){
    .header ul li {
        margin: 0 0.5em;
    }
}
@media screen and (max-width: 1000px){
    .unvisible_menu{
        display: inline-block;
    }
    #menu{
        display: none;
    }
    .header ul{
        position: absolute;
        right: 20px;
        z-index: 99;
        top: 60px;
        width: 120px;
        background-color: rgba(181, 162, 99, 0.5);
    }
    .header ul li{
        display: block;
        padding: 1em 1em 1em 1.5em;
        font-size: 1em;
        margin: 0;
        transition: all ease-in-out 0.4s;
    }
    .header ul li:hover{
        background-color: rgba(181, 162, 99, 0.5);
        transition: all ease-in-out 0.4s;
    }
    .header ul li a {
        padding: 0;
        background-color: transparent;
    }
    .header ul li::after{
        display: none;
    }
}
@media screen and (max-width: 990px){
    .block{
        text-align: center;
    }
    .block .name {
        margin: 0;
    }
    .block .position{
        margin-left: 0;
    }
    .block img {
        margin: 0 auto;
    }
    .block_3{
        margin-left: 25%;
    }
    .bottom_inner {
        max-width: 70%;
    }
    .bottom p {
        margin-left: 0;
    }
}
@media screen and (max-width: 768px){
    section h1 {
        font-size: 2em;
    }
    .block_3 {
        margin-left: 0;
    }
    .unvisible_menu {
        margin: -56px -7px 0 0;
    }
    .about{
        padding-left: 6%;
    }
    form{
        max-width: 75%;
    }
    .bottom {
        height: 80px;
    }
    .bottom p{
        line-height: 10px;
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    .bottom .socials {
        display: inline-block;
        line-height: 36px;
        width: 100%;
        text-align: center;
    }
    .management {
        padding-top: 20px;
    }
    .slider h2 {
        margin: 70px 0;
    }
}
@media screen and (max-width: 570px){
    .contact2{
        margin-left: 10%;
    }
    section{
        padding: 5% 0 5% 7%;
    }
}
@media screen and (max-width: 500px){
    .about{
        width: 100%;
    }
    .contact{
        width: 100%;
        margin-left: -30px;
    }
    .form{
        margin-left: 15px;
    }
    form {
        max-width: 100%;
    }
}
@media screen and (max-width: 350px){
    section {
        width: 120%;
        margin-left: -10%;
    }
}
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  .retina {
    width: 100%;
  }
}