ul{
    list-style-type: none;
    margin-bottom: 0;
}
a:hover, a:active, a:focus{
    text-decoration: none;
}
.wrapper{
    max-width: 1300px;
    margin: 0 auto;
}
.container-fluid{
    overflow: hidden;
}
.header, .header a {
    text-transform: uppercase;
    color: #fff;
    background-color: #24282f;
}
.header .logo{
    padding: 1.9em;
}
.header .logo h3{
    font-family: 'NexaBold';
    display: inline;
    padding-left: 0.5em;
    position: relative;
    margin-left: 30px;
}
.header .logo h3::before{
    content: '';
    position: absolute;
    width: 19px;
    height: 4px;
    background-color: #b5a263;
    display: block;
    top: 0;
    left: -23px;
    transition: width ease-in-out 0.3s;
}
.header .logo h3::after{
    content: '';
    position: absolute;
    width: 13px;
    height: 4px;
    background-color: #b5a263;
    display: block;
    top: 8px;
    left: -23px;
    transition: width ease-in-out 0.3s;
}
.header .logo h3 span{
    position: absolute;
    width: 8px;
    height: 4px;
    background-color: #b5a263;
    display: block;
    top: 16px;
    left: -23px;
    transition: width ease-in-out 0.3s;
}
.header .logo h3:hover::before,
.header .logo h3:hover::after,
.header .logo h3:hover span{
    transition: width ease-in-out 0.3s;
    width: 0px;
}
.header ul li{
    position: relative;
    display: inline-block;
    font-family: 'Open Sans';
    font-size: 0.85em;
    padding: 2.7em 0;
    margin: 0 1em;
}
.header ul li a{
    padding: 1em;
    position: relative;
}
.header ul li::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #b5a263;
    left: 0;
    bottom: 5px;
    transition: width ease 0.4s;
}
.header ul li:hover::after{
    width: 100%;
    transition: width ease 0.4s;
}
.unvisible_menu{
    display: none;
    height: 2em;
    width: 2em;
    float: right;
    margin: -56px 86px 0 0;
    font-size: 2em;
    color: #b5a263;
    cursor: pointer;
}
section{
    background-image: url(../img/header2.jpg);
    width: 110%;
    margin-left: -5%;
    min-height: 280px;
    padding: 5% 0 0 7%;
    margin-top: -5px;
}
section h1{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 700;
    max-width: 70%;
    font-size: 36px;
}

/** MANAGEMENT **/
.management{
    padding-top: 120px;
}
.management h3{
    font-family: 'Raleway';
    font-weight: 600;
    color: #24282f;
    font-size: 1.7em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin-bottom: 60px;
}
.management h3::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 70px;
    background-color: #b5a263;
    left: calc(50% - 35px);
    bottom: -30px;
}
.block img{
    padding: 15px;
}
.block .second{
    padding: 15px;
}
.block .name{
    font-size: 1em;
    font-family: 'Raleway';
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 0 30px;
    padding-top: 5px;
}
.block .position{
    font-size: 0.9em;
    font-family: 'Open Sans';
    margin-left: 30px;
    color: #b5a263;
    position: relative;
}
.block .socials{
    display: inline-block;
    position: absolute;
    bottom: 12px;
    right: 35px;
}
.block .socials i{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #dedede;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 1.1em;
    transition: background-color ease-in-out 0.3s;
}
.block .socials i:hover{
    background-color: #b5a263;
    transition: background-color ease-in-out 0.3s;
}
.button{
    display: inline-block;
    height: 50px;
    width: 170px;
    margin: 30px 0;
    border: 1px solid #24282f;
    border-radius: 25px;
    text-transform: uppercase;
    color: #24282f;
    font-family: 'Open Sans';
    line-height: 50px;
    transition: all ease-in-out 0.4s;
}
.button:hover{
    color: #fff;
    background-color: #24282f;
    transition: all ease-in-out 0.4s;
}


.slider{
    background-color: #f7f7f7;
}
.slider h2{
    font-family: 'Raleway';
    font-weight: 600;
    color: #24282f;
    font-size: 1.7em;
    text-transform: uppercase;
    margin: 100px 0;
    position: relative;
}
.slider h2::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 70px;
    background-color: #24282f;
    left: calc(50% - 35px);
    bottom: -30px;
}
.slider img{
    margin-bottom: 30px;
}
.slider .descr{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 0.9em;
    max-width: 70%;
    margin: 0 auto;
    line-height: 1.6;
}
.slider .name{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
    color: #b5a263;
    margin: 30px 0 5px 0;
}
.slider .position{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1em;
}

footer{
    display: block;
    width: 100%;
    background-color: #2b2f35;
    padding-top: 60px;
    position: absolute;
}
footer h3{
    color: #b5a263;
    font-size: 0.9em;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 300;
}
footer p{
    font-family: 'Open Sans';
    color: #6e7279;
}

footer form input[type="email"]{
    width: 300px;
    height: 38px;
    background-color: #2b2f35;
    border: 1px solid #6e7279;
    outline: none;
    color:#6e7279;
    font-family: 'Open Sans';
    font-size: 1em;
    padding-left: 7px;
    margin-bottom: 10px;
}
::-webkit-input-placeholder {color:#6e7279;}
::-moz-placeholder          {color:#6e7279;}/* Firefox 19+ */
:-moz-placeholder           {color:#6e7279;}/* Firefox 18- */
:-ms-input-placeholder      {color:#6e7279;}

footer form input[type="submit"]{
    width: 300px;
    height: 38px;
    background-color: #b5a263;
    border: none;
    outline: none;
    color:#fff;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-size: 1em;
    line-height: 38px;
}
.bottom{
    display: block;
    width: 100%;
    height: 60px;
    background-color: #24282f;
    margin-top: 30px;
}
.bottom_inner{
    max-width: 1150px;
    display: block;
    margin: 0 auto;
}
.bottom p{
    font-size: 0.8em;
    line-height: 60px;
    display: inline;
    width: 20%;
    margin-left: 10%;
}
.bottom .socials{
    display: inline-block;
    height: 100%;
    font-size: 1em;
    color: #6e7279;
    line-height: 60px;
    width: 30%;
    float: right;
    text-align: right;
}
.bottom .socials i{
    border: 1px solid #6e7279;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
}
.bottom .socials i:hover{
    color: #fff;
    background-color: #b5a263;
    border-color: #b5a263;
    transition: all ease-in-out 0.4s;
}
