@font-face {
  font-family: 'NexaBold';
  src: url('NexaBold.eot');
  src: url('NexaBold.woff') format('woff'),
       url('NexaBold.ttf') format('truetype'),
       url('NexaBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

